*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 48px;
    margin-bottom: 38px;
}

p{
    font-size: 20px;
}

h5{
    font-size: 24px;
    color: #276FFB;
}

.main{
    background: url(images/bg.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
    color: white;
    padding-bottom: 150px;
}

.container{
    max-width: 1640px;
}

.navbar{
    padding-top: 50px;
}

.navbar-links ul{
    margin-bottom: 0;
}

.navbar-brand{
    color: white;
    font-size: 45px;
}

li{
    display: inline-block;
    padding-right: 38px;
    font-size: 20px;
}

a{
    text-decoration: none;

}

.btn{
    font-size: 20px;
    padding: 12px 38px;
}

.description{
    margin-top: 90px;
}

.vacancy-cards{
    margin-bottom: 36px;
}

.offers{
    margin-top: 70px;
}

.companies{
    margin-top: 70px;
}

.card{
    max-width: 455px;
    border: none;
}

span{
    color: #707070;
}

.time{
    font-size: 18px;
}

